.perfil_conteudo {
    margin: 60px 0 30px 0;
    text-align: center;
    color: var(--cor-terciaria);
}
.perfil_imagem {
    display: block;
    margin: auto;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-image: url('https://avatars.githubusercontent.com/u/84568349?v=4');
    background-size: cover;
}